.side-tabs {
    margin-top: 15px;
    font-size: small;
}

.sidebar-item {
    margin-top: 20px;
}

.tag-item {
    margin-right: 5px;
    margin-bottom: 10px;
}

.sidebar-bg {
    margin-bottom: 20px;
}

.sider-badge {
    margin-left: 5px;
}
